@keyframes demo {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 200%;
    }
}
